body 
{background-color: #0000FF;}

.ylin
{
    padding-top: 15%;
    text-align: center;
}

.toka
{
    text-align: center;
}

.kolmas
{
    text-align: center;

}

.etsi
{
    background-color: #007FFF;
    border: none;
    color:black;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0,5%;
    padding-bottom: 0,5%;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    margin: 
}

#mittari
{
    background-color: #86C2FF;
    width: 50%; 
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    
  }
  .dropdown1 { 
    display: inline-block; 
    position: relative; 
  } 

  .Dropbtn1 {
    background-color: #007FFF;
    border: 0px;
    font-size: 16px;
    cursor: pointer;
    width: 450px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 12px;
    text-align: left;
    padding-left: 15%;
  
  }

  .dropdown1-content {
    display: none;
    position: absolute;
    width: 450px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #007FFF;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

.dropdown1-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown1-content a:hover {
    color: #000000;
    background-color: #ffffff;
}
.img1{
    float: right;
    max-width: 30px;
    max-height: 20px;
    padding-right: 10px;
}
.dropdown2 { 
    display: inline-block; 
    position: relative;
  } 

  .Dropbtn2 {
    background-color: #007FFF;
    border: 0px;
    font-size: 16px;
    cursor: pointer;
    width: 450px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 12px;
    text-align: left;
    padding-left: 15%;
  
  }

  .dropdown2-content {
    display: none;
    position: absolute;
    width: 450px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #007FFF;
}

.dropdown2:hover .dropdown1-content {
    display: block;
}

.dropdown2-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown2-content a:hover {
    color: #000000;
    background-color: #ffffff;
}